.avatar {
  display: block;
  width: 150px;
  height: 150px;
  text-align: center;
  justify-content: center;
  margin: 10px auto;
  padding-top: 30px;
  border-radius: 50%;
}

.name {
  text-align: center;
  font-size: 16px;
  font-weight: 700;
}
.tag {
  text-align: center;
  color: rgb(88, 86, 86);
}
.location {
  text-align: center;
  color: rgb(88, 86, 86);
  margin-bottom: 0;
}
.profile {
  width: 400px;
  height: 370px;
  justify-content: center;
  margin: 10px auto;
  background-color: rgb(185, 188, 197);
  position: relative;
  border: 3px solid #878d92;
}

.stats {
  background-color: rgb(110, 106, 114);
  display: flex;
  align-items: flex-end;
  position: absolute;
  bottom: 0;
  left: 0;

  width: 100%;
  justify-content: space-around;

  padding: 0;
  margin: 0;
  border-top: 1px solid #878d92;
  border-left: 1px solid #878d92;
}
.statsItem {
  text-align: center;
  flex: 1 0 2px;
  height: 70px;
  border-right: 1px solid #878d92;
  border-bottom: 1px solid #878d92;
  box-sizing: border-box;
}
.label {
  padding-top: 15px;
  display: block;
  color: rgb(88, 86, 86);
}
